* {
    box-sizing: border-box;
    color: #eee;
}

body {
    margin: 0;
    background: #112;
}

main {
    margin: auto;
    width: 800px;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}

body, input, textarea, button {
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
}

input, textarea, button {
    padding: 0.5rem;
}

textarea {
    background: #223;
    border: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 10rem;
    min-height: 2.5rem;
}

button {
    width: 100%;
    background: #334;
    color: #eee;
    padding: 0.7rem;
    border: 2px solid #334;
}

button:active {
    color: #ccc;
    background: #223;
}

div.input-wrapper, div.output-wrapper {
    margin: 2rem;
}

.optimizer {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}


@media (max-width: 1000px) {
    main {
        width: 100%;
        margin-top:0;
    }

}