* {
    box-sizing: border-box;
    color: #eee;
}

body {
    margin: 0;
    background: url(https://public.vladde.net/noise.png) #112;
}

i {
    margin-right: 0.2em;
}

hr {
    border: none;
    border-bottom: 1px solid #223;
}

main {
    width: 800px;
    margin: auto;
}

.optimizer > * {
    margin: 1rem;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}

body, input, textarea, button {
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
}

input, textarea, button {
    padding: 0.5rem;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 2.5rem;
    max-height: 10rem;
    border: none;
    background: #223;
}

button {
    width: 100%;
    padding: 0.7rem;
    color: #eee;
    border: 2px solid #334;
    background: #334;
}

button:active {
    color: #ccc;
    background: #223;
}

.optimizer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 100vh;
}

.about {
    font-family: sans-serif;
}

.about > p {
    line-height: 1.4em;
    color: #778;
}

@media (max-width: 1000px) {
    main {
        width: 100%;
        margin-top: 0;
    }
}